.box-widget .wallet-title{
        padding: 0;
        text-align: left;
        max-width: 50px;
    }
    .box-widget  .wallet-amount{
        padding: 0;
        text-align: left;
    }
    .box-widget  .wallet-amount .description-block{
        text-align: left;
    }
    .content .widget-user .box-footer{
        padding: 15px 0;
    }
    .widget-user .btn-success{
        float: right;
        margin-right: 15px;    
    }
    .box .box-footer  .border-right{
        border: none;
    }

    .box th.icon-wallet {
        width: 2%;
        padding-top: 12px;
        padding-bottom: 10px;
        padding-right: 0px;
    }

    .box th.wallet-amount {
        width: 18%;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 20px;
        color: #85bb65 
    }

    .box .wallet-table {
        margin-bottom: 0px;
    }

    .main-header .clp-news {
        font-size: 20px;
    }

    @media only screen and (max-width: 500px) {
        .content .widget-user .box-footer{
            padding: 15px 0px 15px 15px;
        }
    }

    .psi {
        width: 15px;
        margin: 0 1px 0 0;
        border: 1px solid gray;
        display: inline-block;
        cursor: default;
        font-weight: 100;
        text-align: center;
        line-height: 7px;
        padding: 2px 2px;
        color: white;
        background-color: lightgray;
        border: 1px solid lightgray;
        font-weight: bold;
        font-size: 10px;
        font-family: Verdana, Arial, Helvetica, sans-serif
    }

    .psi1 {
        background-color: green;
    }

    .psi2 {
        background-color: blue;
    }

    .psi3 {
        background-color: orange;
    }

    .psi4 {
        background-color: magenta;
    }

    .psi5 {
        background-color: cyan;
    }

    .psi6 {
        background-color: red;
    }

    .psr {
        background-color: green;
    }

    .clp-home .table-bordered > thead > tr > th,.clp-home .table-bordered > tbody > tr > th,.clp-home .table-bordered > tfoot > tr > th,.clp-home .table-bordered > thead > tr > td, .clp-home .table-bordered > tbody > tr > td, .clp-home .table-bordered > tfoot > tr > td {
        border: 1px solid #22221F;
    }

    .clp-home h3 { font-size: 30px; }
